# macOS
.DS_Store

# Gradle
.gradle/

# Local config (contains SDK path)
local.properties

# Android Studio
.idea/
*.iml

# Kotlin/Java
out/

# NDK
.externalNativeBuild/
.cxx/

# Logs
*.log

# Captures
captures/

# Keystore files (VERY IMPORTANT)
*.jks
*.keystore

# Build outputs
build/
app/build/

# Android bundles
*.apk
*.aab
